<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



	<context:property-placeholder location="classpath:values.properties"/>
      <!-- Bunun locationunu belirtiyorum. Class path bu  -->

	<bean id ="database" class ="springIntro.MsSqlCustomerDal">	
	<!-- Database isimli bean talebinde bulunulursa Arka tarafta sen MSSQL i new le demek bu -->
		<property name="connectionString" value="${database.onnectionString}"></property>
	
	</bean>
	<bean id ="service" class ="springIntro.CustomerManager">
	<!-- Service isimli bean talebinde bulunulursa Arka tarafta sen Customer Managerı new le demek bu -->
		<constructor-arg ref ="database"/>
		<!-- CustomerManager constructorında bir ICustomerDal istiyor o yüzden referans belirtmek zorundasın. -->
		<!-- Databasede ne verilmişse örneğin burada ICustomerDal istenmiş . -->
	</bean>
	
	

</beans>





